<a href="https://colab.research.google.com/github/dhrubjun/All-time-best-IPL-team/blob/main/All_time_best_IPL_team.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

The team team will consists of 12 player (1 extra player). 
It will have -
1. 5 Batsman
2. 1 Wicket keeper batsman
3. 1 all rounder
4. 4 bowlers (2 spinners and 2 pacers)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

path = "/content/drive/MyDrive/data/IPL Ball-by-Ball 2008-2020.csv"
df = pd.read_csv(path)

In [8]:
df.head()

       id  inning  ...           batting_team                 bowling_team
0  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 18 columns]

Selection of batsman will be on following criteria-
1. Batting Avg.
2. Strike Rate

In [6]:
df1 = df.copy()

In [10]:
df1['extras_type'].unique()

array([nan, 'byes', 'wides', 'legbyes', 'noballs', 'penalty'],
      dtype=object)

In [11]:
df_total_run = df.groupby('batsman').sum().sort_values(by='batsman_runs', ascending=False)['batsman_runs']

In [12]:
df_total_run.head()

batsman
V Kohli      5878
SK Raina     5368
DA Warner    5254
RG Sharma    5230
S Dhawan     5197
Name: batsman_runs, dtype: int64

In [15]:
df_total_ball_faced = df[df['extras_type']!='wides'].groupby('batsman').count().sort_values(by='batsman_runs', ascending=False)['batsman_runs']

In [16]:
total_out = df[df['is_wicket']==1].groupby('batsman').count().sort_values(by='is_wicket', ascending=False)['is_wicket']

In [17]:
df_batsman = pd.concat([df_total_run,total_out], axis=1)

In [18]:
df_batsman['Total balls faced'] = df_total_ball_faced

In [19]:
df_batsman.head(10)

                batsman_runs  is_wicket  Total balls faced
V Kohli                 5878      163.0               4496
SK Raina                5368      160.0               3914
DA Warner               5254      126.0               3712
RG Sharma               5230      177.0               4004
S Dhawan                5197      152.0               4096
AB de Villiers          4849      114.0               3192
CH Gayle                4772      116.0               3179
MS Dhoni                4632      126.0               3387
RV Uthappa              4607      169.0               3544
G Gambhir               4217      135.0               3404

In [20]:
df_batsman['Average'] = round(df_batsman['batsman_runs']/df_batsman['is_wicket'], 2)

In [21]:
df_batsman.head(10)

                batsman_runs  is_wicket  Total balls faced  Average
V Kohli                 5878      163.0               4496    36.06
SK Raina                5368      160.0               3914    33.55
DA Warner               5254      126.0               3712    41.70
RG Sharma               5230      177.0               4004    29.55
S Dhawan                5197      152.0               4096    34.19
AB de Villiers          4849      114.0               3192    42.54
CH Gayle                4772      116.0               3179    41.14
MS Dhoni                4632      126.0               3387    36.76
RV Uthappa              4607      169.0               3544    27.26
G Gambhir               4217      135.0               3404    31.24

In [23]:
df_batsman['Strike Rate'] = round((df_batsman['batsman_runs']/df_batsman['Total balls faced'])* 100 , 2)

In [24]:
df_batsman.head(20)

                batsman_runs  is_wicket  ...  Average  Strike Rate
V Kohli                 5878      163.0  ...    36.06       130.74
SK Raina                5368      160.0  ...    33.55       137.15
DA Warner               5254      126.0  ...    41.70       141.54
RG Sharma               5230      177.0  ...    29.55       130.62
S Dhawan                5197      152.0  ...    34.19       126.88
AB de Villiers          4849      114.0  ...    42.54       151.91
CH Gayle                4772      116.0  ...    41.14       150.11
MS Dhoni                4632      126.0  ...    36.76       136.76
RV Uthappa              4607      169.0  ...    27.26       129.99
G Gambhir               4217      135.0  ...    31.24       123.88
AM Rahane               3933      125.0  ...    31.46       121.39
SR Watson               3874      125.0  ...    30.99       137.91
KD Karthik              3823      152.0  ...    25.15       129.64
AT Rayudu               3659      123.0  ...    29.75       126.09
MK Pandey               3268      109.0  ...    29.98       121.67
YK Pathan               3204      111.0  ...    28.86       142.97
KA Pollard              3023      106.0  ...    28.52       149.88
BB McCullum             2880      106.0  ...    27.17       131.75
PA Patel                2848      127.0  ...    22.43       120.78
Yuvraj Singh            2750      109.0  ...    25.23       129.72

[20 rows x 5 columns]

In [25]:
df_batsman[df_batsman['batsman_runs']>1000]

              batsman_runs  is_wicket  Total balls faced  Average  Strike Rate
V Kohli               5878      163.0               4496    36.06       130.74
SK Raina              5368      160.0               3914    33.55       137.15
DA Warner             5254      126.0               3712    41.70       141.54
RG Sharma             5230      177.0               4004    29.55       130.62
S Dhawan              5197      152.0               4096    34.19       126.88
...                    ...        ...                ...      ...          ...
ML Hayden             1107       27.0                805    41.00       137.52
LMP Simmons           1079       27.0                852    39.96       126.64
LRPL Taylor           1017       41.0                822    24.80       123.72
M Vohra               1012       42.0                768    24.10       131.77
KP Pietersen          1001       29.0                743    34.52       134.72

[72 rows x 5 columns]

In [26]:
df_batsman = df_batsman[df_batsman['batsman_runs']>1000]

In [34]:
df_batsman.sort_values(by='Average', ascending=False).head(20)['Average']

KL Rahul          42.69
AB de Villiers    42.54
DA Warner         41.70
JP Duminy         41.41
CH Gayle          41.14
ML Hayden         41.00
LMP Simmons       39.96
KS Williamson     39.49
SE Marsh          38.70
MEK Hussey        38.02
MS Dhoni          36.76
V Kohli           36.06
JC Buttler        35.71
RR Pant           35.24
CA Lynn           34.59
KP Pietersen      34.52
F du Plessis      34.36
DA Miller         34.26
S Dhawan          34.19
SK Raina          33.55
Name: Average, dtype: float64

In [33]:
df_batsman.sort_values(by='Strike Rate', ascending=False).head(20)['Strike Rate']

AD Russell        182.33
HH Pandya         159.27
V Sehwag          155.44
GJ Maxwell        154.68
RR Pant           151.97
AB de Villiers    151.91
CH Gayle          150.11
KA Pollard        149.88
JC Buttler        149.56
YK Pathan         142.97
DA Warner         141.54
CA Lynn           140.66
DA Miller         138.78
AC Gilchrist      138.39
SR Watson         137.91
ML Hayden         137.52
SK Raina          137.15
Ishan Kishan      136.84
MS Dhoni          136.76
KL Rahul          135.81
Name: Strike Rate, dtype: float64

Strike rate and average from 16th to 20th Over

In [49]:
df_powerplay = df[df['over']>15]

In [50]:
df_batsman_run_power = df_powerplay.groupby('batsman').sum().sort_values(by='batsman_runs', ascending=False)['batsman_runs']

In [58]:
df_balls_faced_power  = df_powerplay[df_powerplay['extras_type']!='wides'].groupby('batsman').count().sort_values(by='batsman_runs', ascending=False)['batsman_runs']

In [63]:
df_number_of_out_power = df_powerplay[df_powerplay['is_wicket']==1].groupby('batsman').count().sort_values(by='is_wicket', ascending=False)['is_wicket']

In [67]:
df_powerplay_stat = pd.concat([df_batsman_run_power, df_number_of_out_power], axis=1)

In [68]:
df_powerplay_stat['Total balls faced'] = df_balls_faced_power

In [70]:
df_powerplay_stat.head(20)

                 batsman_runs  is_wicket  Total balls faced
MS Dhoni                 2303       73.0               1218
KA Pollard               1487       63.0                802
AB de Villiers           1254       31.0                538
RG Sharma                1144       49.0                577
V Kohli                   968       36.0                471
KD Karthik                921       47.0                505
RA Jadeja                 906       48.0                596
YK Pathan                 858       34.0                515
HH Pandya                 838       29.0                436
DJ Bravo                  742       32.0                401
JP Duminy                 712       21.0                395
AT Rayudu                 709       34.0                417
AD Russell                665       27.0                305
SK Raina                  633       22.0                369
Yuvraj Singh              601       33.0                337
DA Miller                 590       21.0                317
Harbhajan Singh           577       41.0                366
JA Morkel                 571       26.0                351
IK Pathan                 563       25.0                359
SPD Smith                 534       23.0                312

In [71]:
df_powerplay_stat['Average'] = round(df_powerplay_stat['batsman_runs']/df_powerplay_stat['is_wicket'], 2)

In [72]:
df_powerplay_stat['Strike Rate'] = round((df_powerplay_stat['batsman_runs']/df_powerplay_stat['Total balls faced'])*100, 2)

In [75]:
df_powerplay_stat = df_powerplay_stat[df_powerplay_stat['batsman_runs']>500]

In [76]:
df_powerplay_stat.sort_values(by='Average', ascending=False)

                 batsman_runs  is_wicket  ...  Average  Strike Rate
AB de Villiers           1254       31.0  ...    40.45       233.09
JP Duminy                 712       21.0  ...    33.90       180.25
MS Dhoni                 2303       73.0  ...    31.55       189.08
HH Pandya                 838       29.0  ...    28.90       192.20
SK Raina                  633       22.0  ...    28.77       171.54
DA Miller                 590       21.0  ...    28.10       186.12
V Kohli                   968       36.0  ...    26.89       205.52
YK Pathan                 858       34.0  ...    25.24       166.60
AD Russell                665       27.0  ...    24.63       218.03
KA Pollard               1487       63.0  ...    23.60       185.41
RG Sharma                1144       49.0  ...    23.35       198.27
SPD Smith                 534       23.0  ...    23.22       171.15
DJ Bravo                  742       32.0  ...    23.19       185.04
IK Pathan                 563       25.0  ...    22.52       156.82
JA Morkel                 571       26.0  ...    21.96       162.68
AT Rayudu                 709       34.0  ...    20.85       170.02
KD Karthik                921       47.0  ...    19.60       182.38
MK Tiwary                 501       26.0  ...    19.27       153.68
RA Jadeja                 906       48.0  ...    18.88       152.01
Yuvraj Singh              601       33.0  ...    18.21       178.34
Harbhajan Singh           577       41.0  ...    14.07       157.65

[21 rows x 5 columns]

In [77]:
df_powerplay_stat.sort_values(by='Strike Rate', ascending=False)

                 batsman_runs  is_wicket  ...  Average  Strike Rate
AB de Villiers           1254       31.0  ...    40.45       233.09
AD Russell                665       27.0  ...    24.63       218.03
V Kohli                   968       36.0  ...    26.89       205.52
RG Sharma                1144       49.0  ...    23.35       198.27
HH Pandya                 838       29.0  ...    28.90       192.20
MS Dhoni                 2303       73.0  ...    31.55       189.08
DA Miller                 590       21.0  ...    28.10       186.12
KA Pollard               1487       63.0  ...    23.60       185.41
DJ Bravo                  742       32.0  ...    23.19       185.04
KD Karthik                921       47.0  ...    19.60       182.38
JP Duminy                 712       21.0  ...    33.90       180.25
Yuvraj Singh              601       33.0  ...    18.21       178.34
SK Raina                  633       22.0  ...    28.77       171.54
SPD Smith                 534       23.0  ...    23.22       171.15
AT Rayudu                 709       34.0  ...    20.85       170.02
YK Pathan                 858       34.0  ...    25.24       166.60
JA Morkel                 571       26.0  ...    21.96       162.68
Harbhajan Singh           577       41.0  ...    14.07       157.65
IK Pathan                 563       25.0  ...    22.52       156.82
MK Tiwary                 501       26.0  ...    19.27       153.68
RA Jadeja                 906       48.0  ...    18.88       152.01

[21 rows x 5 columns]