<a href="https://colab.research.google.com/github/dhrubjun/All-time-best-IPL-team/blob/main/All_time_best_IPL_team.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

The team team will consists of 12 player (1 extra player). 
It will have -
1. **5 Batsman**
2. **1 Wicket keeper batsman**
3. **1 all rounder**
4. **4 bowlers (2 spinners and 2 pacers)**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

path = "/content/drive/MyDrive/data/IPL Ball-by-Ball 2008-2020.csv"
df = pd.read_csv(path)

In [3]:
df.head()

       id  inning  ...           batting_team                 bowling_team
0  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 18 columns]

Selection of batsman will be on following criteria-
1. **Batting Avg.**
2. **Strike Rate**
3. **Batting average and strike rate at 16th to 20th Over for finisher**



1.   **Batting Average = (Total runs)/(No. of OUT)** 

2.   **Strike Rate = (Total runs)/(Total no. of balls faced)**

# Calculation of total number of runs for each batsman

In [6]:
df_total_run = df.groupby('batsman').sum().sort_values(by='batsman_runs', ascending=False)['batsman_runs']

In [48]:
df_total_run.head(10)

batsman
V Kohli           5878
SK Raina          5368
DA Warner         5254
RG Sharma         5230
S Dhawan          5197
AB de Villiers    4849
CH Gayle          4772
MS Dhoni          4632
RV Uthappa        4607
G Gambhir         4217
Name: batsman_runs, dtype: int64

# Calculation of total number of balls faced by batsman.

***In calculating total number of balls faced, we will not consider wide balls. ***

In [8]:
df_total_ball_faced = df[df['extras_type']!='wides'].groupby('batsman').count().sort_values(by='batsman_runs', ascending=False)['batsman_runs']

# Calculation of total number of OUTs

In [10]:
total_out = df[df['is_wicket']==1].groupby('batsman').count().sort_values(by='is_wicket', ascending=False)['is_wicket']

# **Creating final dataframe for batsman**

In [11]:
df_batsman = pd.concat([df_total_run,total_out], axis=1)

In [12]:
df_batsman['Total balls faced'] = df_total_ball_faced

In [21]:
df_batsman.rename(columns={'batsman_run':'Total Run', 'is_wicket':'Total No.OUT', 'Toatal balls faced':'Total balls faced' }, inplace=True)

In [24]:
df_batsman['Average'] = round(df_batsman['batsman_runs']/df_batsman['Total No.OUT'], 2)

In [26]:
df_batsman['Strike Rate'] = round((df_batsman['batsman_runs']/df_batsman['Total balls faced'])* 100 , 2)

In [27]:
df_batsman.head(20)

                batsman_runs  Total No.OUT  ...  Average  Strike Rate
V Kohli                 5878         163.0  ...    36.06       130.74
SK Raina                5368         160.0  ...    33.55       137.15
DA Warner               5254         126.0  ...    41.70       141.54
RG Sharma               5230         177.0  ...    29.55       130.62
S Dhawan                5197         152.0  ...    34.19       126.88
AB de Villiers          4849         114.0  ...    42.54       151.91
CH Gayle                4772         116.0  ...    41.14       150.11
MS Dhoni                4632         126.0  ...    36.76       136.76
RV Uthappa              4607         169.0  ...    27.26       129.99
G Gambhir               4217         135.0  ...    31.24       123.88
AM Rahane               3933         125.0  ...    31.46       121.39
SR Watson               3874         125.0  ...    30.99       137.91
KD Karthik              3823         152.0  ...    25.15       129.64
AT Rayudu               3659         123.0  ...    29.75       126.09
MK Pandey               3268         109.0  ...    29.98       121.67
YK Pathan               3204         111.0  ...    28.86       142.97
KA Pollard              3023         106.0  ...    28.52       149.88
BB McCullum             2880         106.0  ...    27.17       131.75
PA Patel                2848         127.0  ...    22.43       120.78
Yuvraj Singh            2750         109.0  ...    25.23       129.72

[20 rows x 5 columns]

***We will consider only those batsman who has scored more than 1000 runs.***

In [29]:
df_batsman = df_batsman[df_batsman['batsman_runs']>1000]

In [179]:
df_batsman['Points'] = (df_batsman['Average']*0.7)+(df_batsman['Strike Rate']*0.3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [194]:
df_batsman.sort_values(by='Points', ascending=False).head(15)

                batsman_runs  Total No.OUT  ...  Strike Rate  Points
AD Russell              1517          50.0  ...       182.33  75.937
AB de Villiers          4849         114.0  ...       151.91  75.351
CH Gayle                4772         116.0  ...       150.11  73.831
DA Warner               5254         126.0  ...       141.54  71.652
KL Rahul                2647          62.0  ...       135.81  70.626
RR Pant                 2079          59.0  ...       151.97  70.259
ML Hayden               1107          27.0  ...       137.52  69.956
JC Buttler              1714          48.0  ...       149.56  69.865
KS Williamson           1619          41.0  ...       134.80  68.083
HH Pandya               1349          47.0  ...       159.27  67.871
SE Marsh                2477          64.0  ...       132.74  66.912
MS Dhoni                4632         126.0  ...       136.76  66.760
CA Lynn                 1280          37.0  ...       140.66  66.411
JP Duminy               2029          49.0  ...       124.02  66.193
V Sehwag                2728          98.0  ...       155.44  66.120

[15 rows x 6 columns]

**Top 20 batsman according to batting average**

In [30]:
df_batsman.sort_values(by='Average', ascending=False).head(20)['Average']

KL Rahul          42.69
AB de Villiers    42.54
DA Warner         41.70
JP Duminy         41.41
CH Gayle          41.14
ML Hayden         41.00
LMP Simmons       39.96
KS Williamson     39.49
SE Marsh          38.70
MEK Hussey        38.02
MS Dhoni          36.76
V Kohli           36.06
JC Buttler        35.71
RR Pant           35.24
CA Lynn           34.59
KP Pietersen      34.52
F du Plessis      34.36
DA Miller         34.26
S Dhawan          34.19
SK Raina          33.55
Name: Average, dtype: float64

**Top 20 batsman according to batting strike rate**

In [31]:
df_batsman.sort_values(by='Strike Rate', ascending=False).head(20)['Strike Rate']

AD Russell        182.33
HH Pandya         159.27
V Sehwag          155.44
GJ Maxwell        154.68
RR Pant           151.97
AB de Villiers    151.91
CH Gayle          150.11
KA Pollard        149.88
JC Buttler        149.56
YK Pathan         142.97
DA Warner         141.54
CA Lynn           140.66
DA Miller         138.78
AC Gilchrist      138.39
SR Watson         137.91
ML Hayden         137.52
SK Raina          137.15
Ishan Kishan      136.84
MS Dhoni          136.76
KL Rahul          135.81
Name: Strike Rate, dtype: float64

**Now, we will calculate batting average and strike rate at 16th to 20th over for finisher.**

In [32]:
df_powerplay = df[df['over']>15]

In [33]:
df_batsman_run_power = df_powerplay.groupby('batsman').sum().sort_values(by='batsman_runs', ascending=False)['batsman_runs']

In [34]:
df_balls_faced_power  = df_powerplay[df_powerplay['extras_type']!='wides'].groupby('batsman').count().sort_values(by='batsman_runs', ascending=False)['batsman_runs']

In [35]:
df_number_of_out_power = df_powerplay[df_powerplay['is_wicket']==1].groupby('batsman').count().sort_values(by='is_wicket', ascending=False)['is_wicket']

In [36]:
df_powerplay_stat = pd.concat([df_batsman_run_power, df_number_of_out_power], axis=1)

In [37]:
df_powerplay_stat['Total balls faced'] = df_balls_faced_power

In [41]:
df_powerplay_stat['Average'] = round(df_powerplay_stat['batsman_runs']/df_powerplay_stat['is_wicket'], 2)

In [42]:
df_powerplay_stat['Strike Rate'] = round((df_powerplay_stat['batsman_runs']/df_powerplay_stat['Total balls faced'])*100, 2)

In [43]:
df_powerplay_stat = df_powerplay_stat[df_powerplay_stat['batsman_runs']>500]

**Top 10 batsman according to average at 16th to 20th over**

In [44]:
df_powerplay_stat.sort_values(by='Average', ascending=False).head(10)['Average']

AB de Villiers    40.45
JP Duminy         33.90
MS Dhoni          31.55
HH Pandya         28.90
SK Raina          28.77
DA Miller         28.10
V Kohli           26.89
YK Pathan         25.24
AD Russell        24.63
KA Pollard        23.60
Name: Average, dtype: float64

**Top 10 batsman according to average at 16th to 20th over**

In [45]:
df_powerplay_stat.sort_values(by='Strike Rate', ascending=False).head(10)['Strike Rate']

AB de Villiers    233.09
AD Russell        218.03
V Kohli           205.52
RG Sharma         198.27
HH Pandya         192.20
MS Dhoni          189.08
DA Miller         186.12
KA Pollard        185.41
DJ Bravo          185.04
KD Karthik        182.38
Name: Strike Rate, dtype: float64

In [189]:
df_powerplay_stat.head()

                batsman_runs  is_wicket  ...  Average  Strike Rate
MS Dhoni                2303       73.0  ...    31.55       189.08
KA Pollard              1487       63.0  ...    23.60       185.41
AB de Villiers          1254       31.0  ...    40.45       233.09
RG Sharma               1144       49.0  ...    23.35       198.27
V Kohli                  968       36.0  ...    26.89       205.52

[5 rows x 5 columns]

In [190]:
df_powerplay_stat['Points'] = (df_powerplay_stat['Average']*0.7)+(df_powerplay_stat['Strike Rate']*0.3)

In [193]:
df_powerplay_stat.sort_values(by='Points', ascending=False).head(5)

                batsman_runs  is_wicket  ...  Strike Rate  Points
AB de Villiers          1254       31.0  ...       233.09  98.242
AD Russell               665       27.0  ...       218.03  82.650
V Kohli                  968       36.0  ...       205.52  80.479
MS Dhoni                2303       73.0  ...       189.08  78.809
HH Pandya                838       29.0  ...       192.20  77.890

[5 rows x 6 columns]

Selection of bowlers will be on the following criteria-
1. **Bowling average**
2. **Bowling economy**



*   **Bowling average = (No. of runs given)/(No. of wickets taken)**

*   **Bowling economy = (No. of runs given)/(No. of overs bowled)**

In [55]:
df['dismissal_kind'].unique()

array([nan, 'caught', 'run out', 'bowled', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field'], dtype=object)

# Calculation of Total number of wickets taken

For calculation of total numbers of wickets taken by bowlers following dismissal kinds will not be considered-
1. **Run out**
2. **Retired hurt**
3. **Obstructing the field**

In [112]:
df1 = df.copy()
df2= df.copy()
df3= df.copy()

In [83]:
df1 = df1[df1['dismissal_kind'].notnull()]

In [87]:
df1 = df1[df1['dismissal_kind']!='run out']

In [88]:
df1 = df1[df1['dismissal_kind']!='retired hurt']

In [89]:
df1 = df1[df1['dismissal_kind']!='obstructing the field']

In [91]:
df1['dismissal_kind'].unique()

array(['caught', 'bowled', 'lbw', 'stumped', 'caught and bowled',
       'hit wicket'], dtype=object)

In [95]:
df1_wickets = df1.groupby('bowler').count().sort_values(by='is_wicket', ascending=False)['is_wicket']

In [253]:
df1_wickets.head(15)

bowler
SL Malinga         170
A Mishra           160
PP Chawla          156
DJ Bravo           153
Harbhajan Singh    150
R Ashwin           138
B Kumar            136
SP Narine          127
YS Chahal          121
UT Yadav           119
RA Jadeja          114
Sandeep Sharma     109
JJ Bumrah          109
A Nehra            106
R Vinay Kumar      105
Name: is_wicket, dtype: int64

# Calculation of total runs given by bowler

For calculation of total runs given by bowler following extra types will not be considered-
1. **Byes**
2. **Legbyes**

In [102]:
df2['extras_type'].unique()

array([nan, 'byes', 'wides', 'legbyes', 'noballs', 'penalty'],
      dtype=object)

In [104]:
df2 = df2[df2['extras_type']!='byes']

In [105]:
df2 = df2[df2['extras_type']!='legbyes']

In [109]:
df2_total_runs_given = df2.groupby('bowler').sum().sort_values(by='total_runs', ascending=False)['total_runs']

In [254]:
df2_total_runs_given.head(15)

bowler
PP Chawla          4263
Harbhajan Singh    3967
A Mishra           3867
DJ Bravo           3798
R Ashwin           3700
UT Yadav           3578
RA Jadeja          3470
SL Malinga         3370
B Kumar            3253
P Kumar            3251
SP Narine          3147
R Vinay Kumar      2966
Z Khan             2782
YS Chahal          2723
SR Watson          2682
Name: total_runs, dtype: int64

# Calculation of total overs bowled by bowler

For calculation of total number of overs bowled by bowler following extra types will not be considered-
1. **Wides**
2. **No balls**

In [113]:
df3 = df3[df3['extras_type']!='wides']

In [114]:
df3 = df3[df3['extras_type']!='noballs']

In [125]:
df3_total_overs = (df3.groupby('bowler').count().sort_values(by='is_wicket', ascending=False)['non_boundary'])/6

In [255]:
df3_total_overs.head(15)

bowler
Harbhajan Singh    562.333333
PP Chawla          541.666667
R Ashwin           538.333333
A Mishra           526.833333
SL Malinga         471.333333
SP Narine          464.166667
RA Jadeja          452.166667
DJ Bravo           452.000000
B Kumar            449.500000
P Kumar            420.666667
UT Yadav           420.500000
Z Khan             366.666667
DW Steyn           362.666667
YS Chahal          355.000000
R Vinay Kumar      353.500000
Name: non_boundary, dtype: float64

In [211]:
df_bowler = pd.concat([df1_wickets, df2_total_runs_given, df3_total_overs], axis=1)

In [212]:
df_bowler.rename(columns={'is_wicket':'No. of Wickets', 'total_runs':'Total runs given', 'non_boundary':'Total overs bowled'}, inplace=True)

In [213]:
df_bowler.head()

                 No. of Wickets  Total runs given  Total overs bowled
SL Malinga                170.0              3370          471.333333
A Mishra                  160.0              3867          526.833333
PP Chawla                 156.0              4263          541.666667
DJ Bravo                  153.0              3798          452.000000
Harbhajan Singh           150.0              3967          562.333333

In [232]:
df_bowler['Bowling Average'] = df_bowler['Total runs given']/df_bowler['No. of Wickets']

In [233]:
df_bowler['Bowling Economy'] = df_bowler['Total runs given']/df_bowler['Total overs bowled']

In [234]:
df_bowler1 = df_bowler[df_bowler['No. of Wickets']>70]

In [235]:
df_bowler1.sort_values(by='Average', ascending=True).head(15)['Average']

SL Malinga        19.823529
Rashid Khan       20.493333
Imran Tahir       21.087500
YS Chahal         22.504132
MM Patel          22.945946
A Nehra           23.537736
JJ Bumrah         23.733945
B Kumar           23.919118
CH Morris         23.987500
A Mishra          24.168750
Sandeep Sharma    24.275229
SP Narine         24.779528
DJ Bravo          24.823529
MJ McClenaghan    25.394366
DW Steyn          25.855670
Name: Average, dtype: float64

In [236]:
df_bowler1.sort_values(by='Economy', ascending=True).head(15)['Economy']

Rashid Khan        6.247967
SP Narine          6.779892
R Ashwin           6.873065
DW Steyn           6.915441
Harbhajan Singh    7.054535
SL Malinga         7.149929
B Kumar            7.236930
AR Patel           7.298663
A Mishra           7.340082
PP Ojha            7.383886
R Bhatia           7.408313
JJ Bumrah          7.419694
MM Patel           7.518819
Z Khan             7.587273
YS Chahal          7.670423
Name: Economy, dtype: float64

In [237]:
df_bowler1.head(10)

                 No. of Wickets  ...  Bowling Economy
SL Malinga                170.0  ...         7.149929
A Mishra                  160.0  ...         7.340082
PP Chawla                 156.0  ...         7.870154
DJ Bravo                  153.0  ...         8.402655
Harbhajan Singh           150.0  ...         7.054535
R Ashwin                  138.0  ...         6.873065
B Kumar                   136.0  ...         7.236930
SP Narine                 127.0  ...         6.779892
YS Chahal                 121.0  ...         7.670423
UT Yadav                  119.0  ...         8.508918

[10 rows x 7 columns]

In [238]:
df_bowler1['Points'] = df_bowler1['Average'] + df_bowler1['Economy']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [239]:
df_bowler1.sort_values(by='Points', ascending=True).head(10)

             No. of Wickets  Total runs given  ...  Bowling Economy     Points
Rashid Khan            75.0              1537  ...         6.247967  26.741301
SL Malinga            170.0              3370  ...         7.149929  26.973459
Imran Tahir            80.0              1687  ...         7.834365  28.921865
YS Chahal             121.0              2723  ...         7.670423  30.174555
MM Patel               74.0              1698  ...         7.518819  30.464765
JJ Bumrah             109.0              2587  ...         7.419694  31.153639
B Kumar               136.0              3253  ...         7.236930  31.156048
A Nehra               106.0              2495  ...         7.845912  31.383648
A Mishra              160.0              3867  ...         7.340082  31.508832
SP Narine             127.0              3147  ...         6.779892  31.559420

[10 rows x 8 columns]

In [240]:
df_total = pd.concat([df_batsman, df_bowler], axis=1)

In [241]:
df_total = df_total[df_total['batsman_runs']>1000]

In [242]:
df_total = df_total[df_total['No. of Wickets']>50]

In [243]:
df_total.head(10)

            batsman_runs  Total No.OUT  ...  Bowling Average  Bowling Economy
SR Watson         3874.0         125.0  ...        29.152174         7.931000
KA Pollard        3023.0         106.0  ...        32.666667         8.875472
JH Kallis         2427.0          89.0  ...        35.276923         7.897819
RA Jadeja         2159.0          88.0  ...        30.438596         7.674161
AD Russell        1517.0          50.0  ...        28.081967         8.960767
DJ Bravo          1490.0          65.0  ...        24.823529         8.402655
IK Pathan         1139.0          53.0  ...        33.112500         7.779736

[7 rows x 13 columns]

In [246]:
df_total['Bowling Points'] = df_total['Bowling Average'] + df_total['Bowling Economy']

In [248]:
df_total.sort_values(by='Bowling Points', ascending=True)['Bowling Points']

DJ Bravo      33.226184
AD Russell    37.042734
SR Watson     37.083174
RA Jadeja     38.112758
IK Pathan     40.892236
KA Pollard    41.542138
JH Kallis     43.174742
Name: Bowling Points, dtype: float64

In [249]:
df_total.sort_values(by='Points', ascending=False)['Points']

AD Russell    75.937
KA Pollard    64.928
SR Watson     63.066
RA Jadeja     55.136
DJ Bravo      54.513
JH Kallis     51.858
IK Pathan     51.163
Name: Points, dtype: float64

In [250]:
df_total['Total'] = df_total['Points']-df_total['Bowling Points']

In [252]:
df_total.sort_values(by='Total', ascending=False)['Total']

AD Russell    38.894266
SR Watson     25.982826
KA Pollard    23.385862
DJ Bravo      21.286816
RA Jadeja     17.023242
IK Pathan     10.270764
JH Kallis      8.683258
Name: Total, dtype: float64