<a href="https://colab.research.google.com/github/dhrubjun/All-time-best-IPL-team/blob/main/IPL_points.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_csv('/content/drive/MyDrive/data/IPL Ball-by-Ball 2008-2020.csv')

In [4]:
df.head()

       id  inning  ...           batting_team                 bowling_team
0  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 18 columns]

In [5]:
df.id.argsort

<bound method Series.argsort of 0          335982
1          335982
2          335982
3          335982
4          335982
           ...
193463    1237181
193464    1237181
193465    1237181
193466    1237181
193467    1237181
Name: id, Length: 193468, dtype: int64>

In [6]:
df.head()

       id  inning  ...           batting_team                 bowling_team
0  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 18 columns]

In [7]:
df.id.nunique()

816

In [8]:
df = df.iloc[0:225,:]

In [9]:
df.head()

       id  inning  ...           batting_team                 bowling_team
0  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 18 columns]

In [10]:
df_total_run = df.groupby('batsman').sum().sort_values(by='batsman_runs', ascending=False)['batsman_runs']

In [11]:
df_total_ball_faced = df[df['extras_type']!='wides'].groupby('batsman').count().sort_values(by='batsman_runs', ascending=False)['batsman_runs']

In [12]:
df_total_ball_faced.rename("Total ball faced", inplace=True)

batsman
BB McCullum        73
RT Ponting         20
W Jaffer           16
P Kumar            15
DJ Hussey          12
SC Ganguly         12
AA Noffke          10
CL White           10
MV Boucher          9
Z Khan              8
JH Kallis           7
SB Joshi            6
V Kohli             5
Mohammad Hafeez     3
R Dravid            3
B Akhil             2
Name: Total ball faced, dtype: int64

In [13]:
df_batsman = pd.concat([df_total_run,df_total_ball_faced], axis=1)

In [14]:
df_batsman['Batting Strike Rate'] = round((df_batsman['batsman_runs']/df_batsman['Total ball faced'])* 100 , 2)

In [15]:
df_batsman

                 batsman_runs  Total ball faced  Batting Strike Rate
BB McCullum               158                73               216.44
RT Ponting                 20                20               100.00
P Kumar                    18                15               120.00
DJ Hussey                  12                12               100.00
SC Ganguly                 10                12                83.33
AA Noffke                   9                10                90.00
JH Kallis                   8                 7               114.29
MV Boucher                  7                 9                77.78
CL White                    6                10                60.00
W Jaffer                    6                16                37.50
Mohammad Hafeez             5                 3               166.67
SB Joshi                    3                 6                50.00
Z Khan                      3                 8                37.50
R Dravid                    2                 3                66.67
V Kohli                     1                 5                20.00
B Akhil                     0                 2                 0.00

In [16]:
no_of_sixes = df[df['batsman_runs']==6].groupby('batsman').count().sort_values(by='batsman_runs', ascending=False)['batsman_runs']

In [17]:
no_of_fours = df[df['batsman_runs']==4].groupby('batsman').count().sort_values(by='batsman_runs', ascending=False)['batsman_runs']

In [18]:
no_of_sixes.rename("Number of sixes", inplace=True)
no_of_fours.rename("Number of fours", inplace=True)

batsman
BB McCullum        10
SC Ganguly          2
AA Noffke           1
DJ Hussey           1
MV Boucher          1
Mohammad Hafeez     1
P Kumar             1
RT Ponting          1
Name: Number of fours, dtype: int64

In [19]:
no_of_fours

batsman
BB McCullum        10
SC Ganguly          2
AA Noffke           1
DJ Hussey           1
MV Boucher          1
Mohammad Hafeez     1
P Kumar             1
RT Ponting          1
Name: Number of fours, dtype: int64

In [20]:
df_batsman['no of fours'] = no_of_fours

In [41]:
df_batsman['no of fours']

BB McCullum        10.0
RT Ponting          1.0
P Kumar             1.0
DJ Hussey           1.0
SC Ganguly          2.0
AA Noffke           1.0
JH Kallis           NaN
MV Boucher          1.0
CL White            NaN
W Jaffer            NaN
Mohammad Hafeez     1.0
SB Joshi            NaN
Z Khan              NaN
R Dravid            NaN
V Kohli             NaN
B Akhil             NaN
Name: no of fours, dtype: float64

In [21]:
df_batsman['no of sixes'] = no_of_sixes

In [22]:
df_batsman.loc[df_batsman['batsman_runs']>=100, "Century bonus"] = 16

In [23]:
df_batsman.loc[(df_batsman['batsman_runs']>=50) & (df_batsman['batsman_runs']<100), "Century bonus"] = 8

In [24]:
df_batsman.loc[(df_batsman['batsman_runs']>=30) & (df_batsman['batsman_runs']<50), "Century bonus"] = 4

In [26]:
df_batsman.loc[(df_batsman['batsman_runs']==0), "Century bonus"] = -2

In [27]:
df_batsman.head()

             batsman_runs  Total ball faced  ...  no of sixes  Century bonus
BB McCullum           158                73  ...         13.0           16.0
RT Ponting             20                20  ...          1.0            NaN
P Kumar                18                15  ...          2.0            NaN
DJ Hussey              12                12  ...          NaN            NaN
SC Ganguly             10                12  ...          NaN            NaN

[5 rows x 6 columns]

In [28]:
df_batsman.loc[(df_batsman['Batting Strike Rate']>=170), "Strike Rate Bonus"] = 6

In [29]:
df_batsman.loc[(df_batsman['Batting Strike Rate']>=150) & (df_batsman['Batting Strike Rate']<170), "Strike Rate Bonus"] = 4

In [30]:
df_batsman.loc[(df_batsman['Batting Strike Rate']>=130) & (df_batsman['Batting Strike Rate']<150), "Strike Rate Bonus"] = 2

In [31]:
df_batsman.loc[(df_batsman['Batting Strike Rate']>=60) & (df_batsman['Batting Strike Rate']<70), "Strike Rate Bonus"] = -2

In [32]:
df_batsman.loc[(df_batsman['Batting Strike Rate']>=50) & (df_batsman['Batting Strike Rate']<60), "Strike Rate Bonus"] = -4

In [33]:
df_batsman.loc[(df_batsman['Batting Strike Rate']<50), "Strike Rate Bonus"] = -6

In [34]:
df_batsman

                 batsman_runs  ...  Strike Rate Bonus
BB McCullum               158  ...                6.0
RT Ponting                 20  ...                NaN
P Kumar                    18  ...                NaN
DJ Hussey                  12  ...                NaN
SC Ganguly                 10  ...                NaN
AA Noffke                   9  ...                NaN
JH Kallis                   8  ...                NaN
MV Boucher                  7  ...                NaN
CL White                    6  ...               -2.0
W Jaffer                    6  ...               -6.0
Mohammad Hafeez             5  ...                4.0
SB Joshi                    3  ...               -4.0
Z Khan                      3  ...               -6.0
R Dravid                    2  ...               -2.0
V Kohli                     1  ...               -6.0
B Akhil                     0  ...               -6.0

[16 rows x 7 columns]

In [43]:
df_batsman = df_batsman.fillna(0)

In [44]:
df_batsman['Batting Points'] = (df_batsman.loc[:, 'batsman_runs'])*1 + (df_batsman.loc[:, 'no of fours'])*1 + (df_batsman.loc[:, 'no of sixes'])*2 + (df_batsman.loc[:, 'Century bonus'])*1 + (df_batsman.loc[:, 'Strike Rate Bonus'])*1

In [45]:
df_batsman

                 batsman_runs  ...  Batting Points
BB McCullum               158  ...           216.0
RT Ponting                 20  ...            23.0
P Kumar                    18  ...            23.0
DJ Hussey                  12  ...            13.0
SC Ganguly                 10  ...            12.0
AA Noffke                   9  ...            10.0
JH Kallis                   8  ...            10.0
MV Boucher                  7  ...             8.0
CL White                    6  ...             4.0
W Jaffer                    6  ...             0.0
Mohammad Hafeez             5  ...            10.0
SB Joshi                    3  ...            -1.0
Z Khan                      3  ...            -3.0
R Dravid                    2  ...             0.0
V Kohli                     1  ...            -5.0
B Akhil                     0  ...            -8.0

[16 rows x 8 columns]